body{
  margin:0%;
  font-family:Oxygen;
  color: #FFFFFF;
}

a{
  color:inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

#top-bar{
  position:fixed;
  margin:1%;
  width:98%;
  z-index:1;
}

.top-bar-text{
  display: inline-block;
  margin-left:0.6%;
  margin-right:0.6%;
  font-weight:bold;
}

.top-bar-text:hover{
  transition-duration: 0.3s;
  color:#FF0000;
  text-decoration: none;
}

.text{
  position:relative;
  text-align:center;
}

#footer{
  background-color: #676767;
  padding: 1%;
}

#footer-copyright{
  display: inline-block;
  width: 50%;
  text-align: left;
}

#footer-copyright-esa{
  color:inherit;
}

#footer-designer{
  display: inline-block;
  width: 50%;
  text-align: right;
}
