#maths{
  background-color: #3B3B3B;
  overflow: hidden;
}

#maths-body{
  position: relative;
  top: 2%;
  bottom: 2%;
  width: 90%;
  left: 5%;
  right: 5%;
}

#maths-body-title{
  font-size:4em;
  margin:1%;
  color: #4A6FB6;
  text-shadow: 0.02em 0.02em #FFFFFF, 0.02em -0.02em #FFFFFF, -0.02em -0.02em #FFFFFF, -0.02em 0.02em #FFFFFF, 0 0.02em #FFFFFF, 0 -0.02em #FFFFFF, 0.02em 0 #FFFFFF, -0.02em 0 #FFFFFF;
  text-transform: uppercase;
  text-align:center;
}

#maths-body-cdf{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

#maths-body-text{
  position: relative;
  color: #FFFFFF;
}
