body{
  margin:0%;
  font-family: Oxygen, sans-serif;
  color: #FFFFFF;
}

h1,h2{
  font-family: 'Oswald', sans-serif;
}

a{
  color:inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

header{
  position:fixed;
  margin:1%;
  width:98%;
  height:2em;
  z-index:1;
}

.top-bar-text{
  float : left;
  display: inline-block;
  font-weight:bold;
  text-align: center;
  margin-left:0.5%;
  margin-right:0.5%;
  height: 100%;
  overflow-y: hidden;
  border-radius: 0.2em;
}

.top-bar-text:hover{
  transition-duration: 0.3s;
  color: #2D74FF; /*her majesty's blue*/
  text-decoration: none;
  background-color: #FFFFFF;
}

.top-bar-text-link{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 10%;
  margin-right: 10%;
}

#top-bar-about:hover{
  height: 200%;
}

.text{
  position:relative;
  text-align:center;
}

#footer{
  background-color: #363636;
  padding: 0.6%;
  bottom: 0;
}

#footer-copyright{
  display: inline-block;
  width: 50%;
  text-align: left;
}

#footer-copyright-esa{
  color:inherit;
}

#footer-designer{
  display: inline-block;
  width: 50%;
  text-align: right;
}
