#research{
  background-color: #282828;
  overflow: hidden;
}

#research-body{
  position: relative;
  width: 55%;
  left: 22.5%;
  right: 22.5%;
}

#research-body-title{
  font-size:4em;
  margin:1%;
  color: #2D74FF; /*her majesty's blue*/
  text-shadow: 0.02em 0.02em #FFFFFF, 0.02em -0.02em #FFFFFF, -0.02em -0.02em #FFFFFF, -0.02em 0.02em #FFFFFF, 0 0.02em #FFFFFF, 0 -0.02em #FFFFFF, 0.02em 0 #FFFFFF, -0.02em 0 #FFFFFF;
  text-transform: uppercase;
  text-align:center;
}

#research-body-cdf{
  position: relative;
  transform: translate(-50%, 0);
  left: 50%;
  width: 838px;
  height: 262px;
}

#research-body-text{
  position: relative;
  color: #FFFFFF;
}
